.grid-container {
  margin: 5px;
  color: white;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.grid-item {
  background-color: #333;
  text-align: center;
  overflow-y: scroll; 

}

.grid-item::-webkit-scrollbar {
  position: fixed;
	width: 6px;
	background-color: #444;
}

.grid-item::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1db954;
}

.searchInput {
  margin: 15px;
  width: 230px;
  background-color: white;
  padding: 8px;
  border: #666 solid 2px;
  border-radius: 20px;
  color: #333;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
}

.searchInput::placeholder {
  color: #888;
}

.searchInput:hover {
  outline: none;
}

.searchInput:focus,
button:focus {
  outline: none;
}

.artistImg {
  height: 27px;
  width: 27px;
  position: absolute;
  right: 30px;
}

.playModal {
  position: absolute;
  right: 20px;
}

.drawer {
  background-color: #111;
  height: 100%; 
  width: 200px;
  overflow: hidden;
}

.drawerItem {
  padding: 25px;
  color: white;
  width: 100%;
  height: 1.5em;
  transition: 200ms;
}

.drawerItem:hover {
  transition: 200ms;
  color: #1db954;
  background-color: #333;
  cursor: pointer;
}

.subjectPage {
  color: white;
  text-align: center;
  width: 40%;
  margin: auto;
}

.subjectArtistPage {
  color: white;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.songListItem {
  transition: 200ms;
  border-radius: 10px;
}
.songListItem:hover {
  transition: 200ms;
  background-color: #222;
}

.updateButton {
  background-color: #1db95477;
  width: 60px;
  height: 30px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: #1db954 solid 2px;
  border-radius: 6px;
  margin: 10px;
  transition: 200ms;
}

.updateButton:hover {
  cursor: pointer;
  background-color: #30c564;
}

.deleteButton {
  background-color: rgba(206, 34, 34, 0.445);
  width: 60px;
  height: 30px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: rgb(201, 39, 39) solid 2px;
  border-radius: 6px;
  margin: 10px;
  transition: 200ms;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: rgb(201, 39, 39);
}

select {
  background-color: white;
  color: black;
  border: 2px  grey solid;
  height: 2em;
  width: 300px;
  margin-top: 15px;
  display: block;
}

.newSongGrid {
  background-color: rgba(51, 51, 51, 0.795);
  width: 250px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  color: white;
  text-align: center;
  height: 280px;
  transition: 200ms;
  width: 230px;
  padding: 10px;
  border-radius: 10px;
}

.newSongGrid:hover {
  background-color: rgb(63, 63, 63);
  transition: 200ms;
}

.newAlbumGrid {
  background-color: rgba(51, 51, 51, 0.795);
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  color: white;
  height: 330px;
  transition: 200ms;
}

.newAlbumGrid:hover {
  background-color: rgb(63, 63, 63);
  transition: 200ms;
}

/* .hCVuYx {
  background-color: black !important;
  color: black !important;
  transition: 4000ms;
}

.hCVuYx:hover {
  background-color: #1db954 !important;
} */

.hCVuYx:disabled {
  color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: auto !important;
}

.chowzb {
  background-color: rgba(255, 255, 255, 0.795) !important;
  color: black !important;
}

.chowzb:hover {
  background-color: white !important;
}


.brcpxa {
  display: none;
}

.ikyGAt {
  display: none;
}

.listTitle {
  font-size: 30px;
  text-align: center;
  color: white;
}

.bigImg {
  height: 232px;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .subjectPage {
    width: 65%
  }
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    height: 50vh;
  }

  .subjectPage {
    width: 100%
  }
}





